*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f7f7f7;
}

/* nav start */
.navbar {
    box-shadow: 0px 8px 16px rgba(0,0,0,.1);
    .collapse {
        .navbar-nav {
            .nav-item {
                margin-left: 18px;
                .nav-link {
                    font-size: 20px;
                    color: #666;
                    transition: all .5s linear;
                    &:hover {
                        color: #e93c3c;
                    }
                }
            }
        }
    }
}
/* nav start */


/* banner start */
.button {
    display: inline-block;
    padding: 8px 32px;
    border: 2px solid #e93c3c;
    color: #e93c3c;
    position: relative;
    overflow: hidden;
    z-index: 0;
    font-size: 18px;
    border-radius: 8px;
    margin-top: 16px;
    &::before {
        content: '';
        position: absolute;
        top:0; 
        right: 0;
        width:0%;
        height:100%;
        background:var(--red);
        transition: all .5s linear;
        z-index: -1;
    }
    &:hover {
        color: #fff;
        &::before {
            width:100%;
            left: 0;
        }
    }
}
.banner {
    min-height: 88vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../images/home-bg.jpg);
    background-position: center;
    background-size: cover;
    .banner_content {
        .banner_element {
            margin-top: 70px;
            h1 {
                font-size: 50px;
                color: #333;
            }
            p {
                font-size: 18px;
                color: #666;
                padding: 16px 0;
            }
            a {
                text-decoration: none;
            }
        }
    }
    .banner_image {
        img {
            animation: float 3s linear infinite;
        }
    }
    @keyframes float{
        0%, 100%{
            transform: translateY(0px);
        }
        50%{
            transform: translateY(48px);
        }
    }
}
/* banner end */

/* heading start */
.heading {
    h1 {
        text-align: center;
        font-size: 40px;
        padding: 1rem;
        color: #666;
        span {
            color: #e93c3c;
        }
    }
}
/* heading end */


/* speciality start */
.speciality {
    .speciality_element {
        position: relative;
        overflow: hidden;
        box-shadow: 0 8px 16px rgb(0 0 0 / 10%);
        border: 1px solid rgba(0,0,0,.3);
        cursor: pointer;
        border-radius: 8px;
        margin-bottom: 30px;
        background: #fff;
        .speciality_image {
            height:100%;
            width:100%;
            position: absolute;
            top:-100%; 
            left:0;
            transition: all .3s linear;
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
        .speciality_content {
            text-align: center;
            padding: 16px;
            img {
                margin: 16px 0px;
                height: 50px;
                width: 50px;
            }
            h4 {
                font-size: 30px;
                color: #333;
            }
            p {
                font-size: 18px;
                color: #666;
                padding: 8px 0px;
            }
        }
        &:hover {
            .speciality_image {
                top: 0; 
            }
        }
    }
}
/* speciality end */


/* popular start */
.popular {
    .popular_element {
        text-align: center;
        box-shadow: 0 8px 16px rgb(0 0 0 / 10%);
        border: 1px solid rgba(0,0,0,.3);
        border-radius: 8px;
        padding: 20px;
        margin-bottom: 30px;
        background: #fff;
        .popular_image {
            img {
                position: relative;
            }
            .price {
                position: absolute;
                top: 30px;
                left: 46px;
                background: #e93c3c;
                color: #fff;
                font-size: 16px;
                padding: 5px 12px;
                border-radius: 5px;
            }
        }
        h4 {
            color: #333;
            font-size: 30px;
            padding-top: 16px;
        }
        .star {
            color: #e2d630;
            font-size: 20px;
            padding: 5px 0px;
        }
        a {
            text-decoration: none;
        }
    }
}
/* popular end */


/* work start */
.work {
    .work_element {
        text-align: center;
        margin-bottom: 30px;
        img {
            border-radius: 50%;
            border: 10px solid #fff;
            box-shadow: 0 8px 16px rgb(0 0 0 / 10%);
        }
        h2 {
            font-size: 28px;
            color: #333;
            padding: 10px;
        }
    }
}
/* work end */


/* gallery start */
.gallery {
    .gallery_element {
        background: #fff;
        text-align: center;
        border: 10px solid #fff;
        box-shadow: 0 8px 16px rgb(0 0 0 / 10%);
        border-radius: 5px;
        height: 300px;
        position: relative;
        overflow: hidden;
        margin-bottom: 30px;
        .gallery_image {
            height: 100%;
            width: 100%;
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
        .gallery_content {
            position: absolute;
            top: -124%;
            left: 0;
            height: 100%;
            width: 100%;
            background: rgba(255,255,255,.9);
            padding: 50px 20px 20px;
            text-align: center;
            transition: all .5s linear;
            h4 {
                color: #333;
                font-size: 30px;
            }
            p {
                color: #666;
                font-size: 14px;
            }
            a {
                text-decoration: none;
            }
        }
        &:hover {
            .gallery_content {
                top: 0;
            }
        }
    }
}
/* gallery end */


/* review start */
.review {
    .review_element {
            text-align: center;
            padding: 30px 30px 20px;
            border: 10px solid #fff;
            box-shadow: 0 8px 16px rgb(0 0 0 / 30%);
            border-radius: 5px;
            background: #333;
            margin: 70px 0px 30px;
        img {
            height: 150px;
            width: 150px;
            border-radius: 50%;
            border: 10px solid #fff;
            margin-top: -100px;
            object-fit: cover;
        }
        h4 {
            font-size: 32px;
            color: #fff;
            padding: 8px 0;
            margin: 0;
        }
        .stars {
            font-size: 25px;
            color: #e93c3c;
            padding: 8px 0;
        }
        p {
            font-size: 14px;
            color: #eee;
            margin: 0;
        }
    }
}
/* review end */


/* order start */
.order {
    .order_element {
        padding: 20px;
        box-shadow: 0 8px 16px rgb(0 0 0 / 10%);
        background: #fff;
        border-radius: 5px;
        .order_image {
            img {

            }
        }
        form {
            .inputbox {
               input {
                padding: 16px;
                margin-bottom: 16px;
                font-size: 16px;
                color: #333;
                text-transform: none;
                border: 1px solid rgba(0,0,0,.3);
                border-radius: 5px;
                width: 49%;
                outline: 0;
               } 
            }
            textarea {
                padding: 16px;
                margin: 16px 0;
                font-size: 16px;
                color: #333;
                text-transform: none;
                border: 1px solid rgba(0,0,0,.3);
                border-radius: 5px;
                width: 100%;
                outline: 0;
            }
            .btn {
                display: inline-block;
                padding: 8px 32px;
                border: 2px solid #e93c3c;
                color: #e93c3c;
                font-size: 18px;
                border-radius: 4px;
                margin-top: 10px;
                transition: all .5s linear;
                &:hover {
                    background: #e93c3c;
                    color: #fff;
                }
            }
        }
    }
}
/* order end */


/* footer start */
footer {
    text-align: center;
    padding: 20px 0px 35px;
    background: rgb(179, 175, 175);
    .socile_link {
        a {
            text-decoration: none;
            margin-right: 8px;
        }
    }
    .footer_text {
        p {
            color: #fff;
            font-size: 20px;
            padding: 15px 0px;
            span {
                color: #e93c3c;
            }
        }
    }
}
/* footer end */